:root{
    --header-height: 60px;
    --main-header-bg: #1b72e8;
    --aside-bg: #051e34;
    --body-bg: #f8f9fa;
}

ul{
    list-style: none;
    padding:0;
}
body{
    background-color: var(--body-bg);
}
header{
    background-color: var(--body-bg);
}


.mobile-logo{
    width: 50px;

}

#header-main{
    height: var(--header-height);   
}

main{
    height: calc(100vh - var(--header-height));
}

aside{
    background-color: var(--aside-bg);
    white-space: nowrap;

}

.top-section{
    background-color: var(--main-header-bg);
    color:white;
}

.my-badge{
    background-color: #165bba;
    color: white;
}

.nav-item{
    padding: 0px 4px;
}

.nav-item:hover{
    background-color: rgba(255, 255, 255, 0.5);

}

.list-group-item:hover{
    background-color: rgba(255, 255, 255, 0.5);

}

.list-group-item:hover{
    background-color: #ececec;
}

.class-name{
    font-size: 0.4rem;
}

.add-student:hover{
    background-color: white;
    color: var(--main-header-bg);
}

.accordion-item{
    border: none;
    border-bottom: 1px solid lightgray;
}

.class-stats *{
    padding: 0 1rem;
}


.fa-pencil, .fa-trash{
    border: 2px solid #6c757d;
    color: #6c757d;
    border-radius: 5px;
    padding: .25rem;
    margin: 0 0.25rem;
}